USE [AdventureWorks2012]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 11/10/2022 10:37:53 PM ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
